
.parent-container {
    display: flex;
    justify-content: flex-end; /* Pushes board to the right */
    align-items: flex-end; /* Aligns board to the bottom */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: #ddd; /* Just for visualization */
    flex-grow: 1; /* Ensures section takes up full space */
}

.board {
    position: relative; /* Ensures absolute positioning inside */
    width: 1200px;
    height: 850px;
    display: flex; /* Keeps flex properties */
    margin-left: auto; /* Ensures it's pushed right */
}

.card {
    position: absolute; /* Positions inside the board */
    z-index: 10; /* Above board */
    background-color: #f4a261;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
    transform: rotate(90deg);
    transition: box-shadow 0.3s ease-in-out; /* Smooth effect */
    box-sizing: border-box; /* Ensures border doesn't change size */
}

.selectedCard {
    outline: 3px solid rgba(0, 0, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8); 
    background-color: rgba(0, 0, 255, 0.2); 
}

.rotated {
    transform: rotate(90deg);
}

.imageContainer {
    position: relative; /* Makes text position relative to the image */
    width: 100%; /* Ensures the container matches the image width */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@font-face {
    font-family: "ITCKabelStd";
    src: url("/fonts/ITCKabelStdBook.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.cardTitle {
    position: absolute;
    top: 25%; /* Moves text down */
    left: 50%; /* Moves text right */
    transform: translate(-50%, 0)  scale(0.6); /* Centers text */
    color: black; /* Text color */
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    transform-origin: center; /* Ensures scaling is centered */
    font-family: "ITCKabelStd";
    justify-content: center;
    text-align: center;
}

.moneyFooterOneDigit {
    position: absolute;
    top: 70%; /* Moves text down */
    left: 50%; /* Moves text right */
    transform: translate(-50%, 0)  scale(0.6); /* Centers text */
    color: black; /* Text color */
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    transform-origin: center; /* Ensures scaling is centered */
    font-family: "ITCKabelStd";
    justify-content: center;
    text-align: center;
}

.moneyFooterTwoDigits {
    position: absolute;
    top: 70%; /* Moves text down */
    left: 55%; /* Moves text right */
    transform: translate(-50%, 0)  scale(0.6); /* Centers text */
    color: black; /* Text color */
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    transform-origin: center; /* Ensures scaling is centered */
    font-family: "ITCKabelStd";
    justify-content: center;
    text-align: center;
}


.playerOverlay {
    position: absolute;
    bottom: -775px;
    left: 30px;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevents interfering with clicks on the board */
    transition: transform 0.5s ease-in-out; /* Smooth movement */
    z-index: 90;
}
