.infoPanel {
    background-color: #191919;
    position: absolute;
    left: 0; /* Pins it to the left edge */
    top: 0; /* Aligns it to the top */
    width: 500px;
    height: 100%;
    display: flex;

    margin-right: auto; 
    z-index: 101;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
}

.aiPanel {
    background-color: #191919;
    position: absolute;
    right: 0; /* Pins it to the left edge */
    top: 0; /* Aligns it to the top */
    width: 450px;
    height: 100%;
    display: flex;

    margin-right: auto; 
    z-index: 101;

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
}

.infoText {
    color: #ffffff;
    font-size: 50px;
    font-family: "ITCKabelStd";
}

.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa; /* Light background */
    border: 3px solid #000; /* Black border */
    border-radius: 8px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    overflow: hidden; /* Ensures nothing spills out */
    transition: transform 1s ease;
    transform: scale(0);
    transform-origin: center center;
}

.cardContainer.visible {
    transform: scale(1);
}

.cardHeader {
    width: 88%;
    height: 73px; 
    background-color: #ff0000;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 102; 
}

.infoPanelTitle {
    color: black; /* Text color */
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: "ITCKabelStd";
    padding-top: 13px;
}

.infoPanelBody {
    width: 100%;
    position: absolute;
    left: 77px;
    top: 85px;
    z-index: 102; 
}

.infoPanelHouses {
    color: black; /* Text color */
    font-weight: 700;
    font-size: 6.5px;
    letter-spacing: 1px;
    font-family: "ITCKabelStd";
    justify-content: center;
    text-align: center;
}

@keyframes scaleUp {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.card {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card.selected {
    animation: scaleUp 0.3s forwards;
}

.sideNav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Centers vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers icons horizontally */
    gap: 16px; /* Space between icons */
    padding: 8px;
}

.iconStyle {
    width: 32px;
    height: 32px;
    color: white;
}

.iconStyle:hover {
    width: 32px;
    height: 32px;
    color: blue;
    transform: scale(1.1);
}

.infoPanelMoney {
    color: black; /* Text color */
    font-weight: 100;
    font-size: 12.5px;
    letter-spacing: 1.1px;
    font-family: "ITCKabelStd";
    justify-content: center;
    text-align: center;
}

.inventoryContainer {
    position: relative;
    height: auto; /* Adjust to fit content */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoPanelPlayerContainer {
    width: 200px;
    height: 45px;
    background-color: #097edf;
    border-radius: 40px;
    outline-color: white;
    border: 3px solid rgb(255, 255, 255);
    outline-width: medium;
    outline-offset: 2px;

    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center vertically */
}


.infoPanelPlayer {
    color: white; /* Text color */
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "ITCKabelStd";
}

.moneyContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
}

.moneyListing {
    padding-top: 50px;
}

.individualMoney {
    transform: rotate(90deg);
    transform-origin: center;
    position: relative;
}
